@charset "UTF-8";
@media (min-width: 10px) and (max-width: 458px) {
    #foto1{
        width:65px ;
        text-align: right;
        margin-left: 10px;
        position: relative;
        top: 20px;
    }
    #a2{
        text-align: center;
    }
    ul{
        width: 750px;
        position: relative;
        left: 60px;
        bottom: 10px;
        margin: auto;
        
     
    }
    li{
        padding-left: 17px;
        display: inline;
     
    }
    ul>li>a{
        text-decoration: none;
        color: black;
        font-size: 10px;
        
        
        
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 6px;
    }
    .assunto{
        float: left;
        margin: 30px;
   
        }
        #conteudo2{
            float: left;
            position: relative;
            left: -17px;
        }
        #foto3{
            width: 150px;
            text-align: center;
            position: relative;
            top: 70px;
            right: 40px;
        }
        
        #butao{

            top: 30px;
        }
}
@media (min-width: 459px) and (max-width: 480px){
    #foto1{
        width:65px ;
        text-align: right;
        margin-left: 10px;
        position: relative;
        top: 20px;
    }
    #a2{
        text-align: center;
    }
    ul{
        width: 750px;
        position: relative;
        left: 60px;
        bottom: 10px;
        margin: auto;
        
     
    }
    li{
        padding-left: 17px;
        display: inline;
     
    }
    ul>li>a{
        text-decoration: none;
        color: black;
        font-size: 11px;
        
        
        
    }
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 45px;
    }
    h3{
        font-size: 15px;
    }
    .assunto{
        float: left;
        margin: 30px;
   
        }
        #conteudo2{
            float: left;
            position: relative;
            left: -17px;
        }
        #foto3{
            width: 177px;
            text-align: center;
            position: relative;
            top: 70px;
            right: 40px;
        }
        
        #butao{

            top: 30px;
        }
}
@media (min-width: 481px) and (max-width: 758px){
    #foto1{
        width:65px ;
        text-align: right;
        margin-left: 0px;
        position: relative;
        top: 20px;
    }
    ul{
        width: 460px;
        position: relative;
        left: 10px;
        bottom: 10px;
        margin: auto;
        
     
    }
    li{
        padding-left: 10px;
        display: inline;
     
    }
    ul>li>a{
        text-decoration: none;
        color: black;
        font-size: 14px;}
    
        h1{
            font-size: 55px;
        }
        h2{
            font-size: 55px;
        }
        h3{
            font-size: 20px;
        }
        .assunto{
            float: left;
            margin: 30px;
       
            }
            #conteudo2{
                float: left;
                position: relative;
                left: -17px;
            }
            #foto3{
                width: 175px;
                text-align: center;
                position: relative;
                top: 70px;
                right: 40px;
            }
            
            #butao{
    
                top: 30px;
            }
}
@media (min-width: 759px) and (max-width: 850px){
    #foto1{
        width:85px ;
        text-align: right;
        margin-left: 10px;
        position: relative;
        top: -4px;
    }
    ul{
        width: 489px;
        position: relative;
        left: 10px;
        bottom: 41px;
        text-align: center;
        
     
    }
    li{
        padding-left: 10px;
        display: inline;
     
    }
    ul>li>a{
        text-decoration: none;
        color: black;
        font-size: 15px;}
    h1{
        font-size: 85px;
    }
    h2{
        font-size: 85px;
    }
    h3{
        font-size: 30px;
    }
    .assunto{
        float: left;
        margin: 40px;
   
        }
        #conteudo2{
            float: left;
            position: relative;
            left: -17px;
        }
        #foto3{
            width: 300px;
            text-align: center;
            position: relative;
            top: 70px;
            right: 40px;
        }
        nav>a{
            margin: 12px;
            position: relative;
            bottom: 40px;
            left: 35px;
            text-decoration: none;
            color: black;
            font-size: 19px;
            
            
        }
        #butao{

            top: 30px;
        }
}
@media (min-width: 851px) and (max-width: 1024px){
    #foto1{
        width:85px ;
        text-align: right;
        margin-left: 10px;
        position: relative;
        top: -4px;
    }
    ul{
        width: 700px;
        position: relative;
        left: 10px;
        bottom: 41px;
        text-align: center;
        
     
    }
    li{
        padding-left: 10px;
        display: inline;
     
    }
    ul>li>a{
        text-decoration: none;
        color: black;
        font-size: 17px;}
    h1{
        font-size: 65px;
    }
    h2{
        font-size: 65px;
    }
    h3{
        font-size: 25px;
    }
    .assunto{
        float: left;
        margin: 66px;
        }
        #conteudo2{
            float: left;
            position: relative;
            left: 10px;
        }
        #foto3{
            width: 400px;
            text-align: center;
            position: relative;
            top: 70px;
            right: 40px;
        }
        nav>a{
            margin: 30px;
            position: relative;
            bottom: 40px;
            text-decoration: none;
            color: black;
            font-size: 20px;
            
            
        }
}
@media (min-width: 1025px) and (max-width: 1200px){
    #foto1{
        width:85px ;
        text-align: right;
        margin-left: 10px;
        position: relative;
        top: -4px;
    }
    ul{
        width: 700px;
        position: relative;
        left: 10px;
        bottom: 41px;
        text-align: center;
        
     
    }
    li{
        padding-left: 10px;
        display: inline;
     
    }
    ul>li>a{
        text-decoration: none;
        color: black;
        font-size: 17px;}
    h1{
        font-size: 75px;
    }
    h2{
        font-size: 75px;
    }
    h3{
        font-size: 35px;
    }
    .assunto{
        float: left;
        margin: 66px;
        }
        #conteudo2{
            float: left;
            position: relative;
            left: 10px;
        }
        #foto3{
            width: 450px;
            text-align: center;
            position: relative;
            top: 70px;
            right: 40px;
        }
        nav>a{
            margin: 30px;
            position: relative;
            bottom: 40px;
            text-decoration: none;
            color: black;
            font-size: 20px;
            
            
        }
}
@media (min-width: 1201x){
    
}